body {
  font-family: Optima, Candara, Calibri, Arial, sans-serif;
  margin: 0; /* Removes margin to take the full width of the page */
  padding: 1em;
  line-height: 1.5;
  width: 100%; /* Ensures it spans the full width */
  font-size: 1.2em; /* Increase the base text size */
}

code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1em; /* Increase code font size to match the body text */
}

h1 {
  text-align: center;
  font-size: 2.5em; /* Make the heading larger */
}

/* custom */
.profile-pic img {
  float: left;
  width: 100%;
  max-width: 170px;
  margin-right: 40px;
  border-radius: 8px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .profile-pic img {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 30px;
  }
}

.centered {
  text-align: center;
  margin-bottom: 1em;
}

mark {
  background-color: #bbfdfb;
  color: black;
}

.date {
  background-color: lightgoldenrodyellow;
}

/* header and footer areas */
.menu { padding: 0; }
.menu li { display: inline-block; }
.article-meta, .menu a {
  text-decoration: none;
  background: #eee;
  padding: 10px; /* Increased padding for better visibility */
  border-radius: 5px;
}
.menu, .article-meta, footer { text-align: center; }
.title { font-size: 1.3em; } /* Increased title font size */
footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color: #ddd;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1.5em; /* Increased padding for better readability */
  overflow-x: auto;
  font-size: 1.1em; /* Increased font size inside pre blocks */
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 5px 1em 5px; /* Increased padding */
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 10px; } /* Increased padding for better readability */
thead, tfoot, tr:nth-child(even) { background: #eee; }
