body {
    font-family: Optima, Candara, Calibri, Arial, sans-serif;
  }
  code {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 85%;
  }
  
  
  body {
/*     max-width: 1000px; */
    margin: auto;
    padding: 1em;
    line-height: 1.5;
  width: 90%; /* Width of body spans the full width of the page */
  font-size: 1.75em;
  }
  
  h1 {
    text-align: center;
  }
  
  /* custom */
  .profile-pic img {
    float: left;
    width: 100%;
    max-width: 250px;
    margin-right: 40px;
    border-radius: 8px;
  }
  
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .profile-pic img {
      float: none;
      width: 100%;
      display: block;
      margin: auto;
      margin-bottom: 30px;
    }
  }
  
  .centered {
    text-align: center;
    margin-bottom: 1em;
  }
  
  mark {
    background-color: #bbfdfb;
    color: black;
  }
  
  .date {
    background-color:lightgoldenrodyellow;
  }
  
  
  /* header and footer areas */
  .menu { padding: 0; }
  .menu li { display: inline-block; }
  .article-meta, .menu a {
    text-decoration: none;
    background: #eee;
    padding: 5px;
    border-radius: 5px;
  }
  .menu, .article-meta, footer { text-align: center; }
  .title { font-size: 1.1em; }
  footer a { text-decoration: none; }
  hr {
    border-style: dashed;
    color: #ddd;
  }
  
  /* code */
  pre {
    border: 1px solid #ddd;
    box-shadow: 5px 5px 5px #eee;
    padding: 1em;
    overflow-x: auto;
  }
  code { background: #f9f9f9; }
  pre code { background: none; }
  
  /* misc elements */
  img, iframe, video { max-width: 100%; }
  main { hyphens: auto; }
  blockquote {
    background: #f9f9f9;
    border-left: 5px solid #ccc;
    padding: 3px 1em 3px;
  }
  
  table {
    margin: auto;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
  }
  table thead th { border-bottom: 1px solid #ddd; }
  th, td { padding: 5px; }
  thead, tfoot, tr:nth-child(even) { background: #eee; }
